@import url('https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); 

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background-color: #fcfcfc;
}

/* Navbar */
.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 10px;
    background: linear-gradient(to right, #0458AB, #4E5AB1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

/* Logo */
.logo-container img {
    height: 50px; 
    width: auto;
}

/* Elementos de navegación */
.nav-elements {
    display: flex;
    align-items: center;
}

.nav-elements ul {
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.nav-elements ul li {
    margin-right: 20px; 
}

/* Botones */
button {
    background-color: transparent;
    color: white;
    padding: 5px 15px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    transition: background-color 0.3s ease, transform 0.2s ease;
    height: 50px;
    gap: 20px;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.05);
}

/* Botón Contactenos */
.contact-button {
    height: 50px;
    width: 150px;
    padding: 0px;
    display: flex;
    align-items: center;
    gap: 15px;
    transition: 0.3s;
    margin-left: 20px;
}

/* Menú hamburguesa (oculto en PC) */
.menu-toggle {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

/* Responsivo para móviles */
@media (max-width: 768px) {
    /* Mostrar el botón hamburguesa */
    .menu-toggle {
        display: block;
    }

    /* Esconder menú en móviles hasta que se active */
    .nav-elements {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background: linear-gradient(to right, #0458AB, #4E5AB1);
        padding: 10px 0;
        text-align: center;
    }

    /* Cuando el menú está activo */
    .nav-elements.active {
        display: flex;
    }

    /* Botones en móvil */
    .nav-elements ul {
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    .nav-elements ul li {
        margin: 10px 0;
    }

    .nav-elements button {
        width: 100%;
        padding: 10px 0;
    }

    /* Contactenos en móvil centrado */
    .contact-button {
        justify-content: center;
        width: auto; 
        padding: 10px 0;
        font-size: 18px; 
        text-align: center;
    }
    .contact-button img {
        height: 25px; 
        width: auto;
    }

}
